.cardList {
  gap: 20px;
  display: grid;
  --num-col-small: 1;
  --num-col-large: 1;
}

.cardList.small {
  grid-template-columns: repeat(var(--num-col-small), minmax(0, 1fr));
}

.cardList.medium {
  grid-template-columns: repeat(var(--num-col-large), minmax(0, 1fr));
}

@media (min-width: 425px) {
  .cardList {
    --num-col-small: 2;
    --num-col-large: 1;
  }
}

@media (min-width: 768px) {
  .cardList {
    --num-col-small: 3;
    --num-col-large: 2;
  }
}

@media (min-width: 997px) {
  .cardList {
    --num-col-small: 2;
    --num-col-large: 1;
  }
}

@media (min-width: 1024px) {
  .cardList {
    --num-col-small: 2;
    --num-col-large: 1;
  }
}

@media (min-width: 1440px) {
  .cardList {
    --num-col-small: 3;
    --num-col-large: 2;
  }
}
