.params {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid var(--structure-border, #dcdee4);
  background: var(--background-panels, #fff);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.03),
    0px 3px 3px 0px rgba(0, 0, 0, 0.03), 0px 7px 4px 0px rgba(0, 0, 0, 0.02),
    0px 12px 5px 0px rgba(0, 0, 0, 0), 0px 19px 5px 0px rgba(0, 0, 0, 0);
}

.params > :not(:last-child) {
  border-bottom: 1px solid var(--structure-border, #dcdee4);
}

.childParams {
  width: 100%;
  margin-top: 12px;
}

.childParams > .params {
  margin-bottom: 0px;
}

.showChildParamsButton {
  margin-top: 12px;
  padding: 6px 24px;
  border: 1px solid var(--structure-border, #dcdee4);
  border-radius: 6px;
  width: fit-content;
}

.hideChildParamsButton {
  display: block;
  width: 100%;
  padding: 6px 24px;
}

.hideChildParamsButton:hover,
.showChildParamsButton:hover {
  cursor: pointer;
  color: var(--structure-border);
}
