table {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--structure-border, #dcdee4);
  background: var(--background-panels, #fff);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.03),
    0px 3px 3px 0px rgba(0, 0, 0, 0.03), 0px 7px 4px 0px rgba(0, 0, 0, 0.02),
    0px 12px 5px 0px rgba(0, 0, 0, 0), 0px 19px 5px 0px rgba(0, 0, 0, 0);
}

table thead tr {
  border: none;
}

table thead tr th {
  text-align: left;
  border-top: none;
  font-size: 14px;
  font-weight: 600;
}

table thead tr th:first-child {
  border-left: none;
}

table thead tr th:last-child {
  border-right: none;
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
  border-right: none;
}

tr {
  border: none;
}
